/* About.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    background-color: #333;
    color: white;
    padding: 15px;
    width: 200px;
    height: 100vh;
    position: fixed;
    overflow: auto;
    
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;    
}

.sidebar nav ul li a:hover {
    background-color: #575757;
}

main {
    margin-left: 220px; /* Width of the sidebar + some margin */
    padding: 20px;
    flex-grow: 1;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    cursor: default;
}

.intro, .services, .mission {
    margin-bottom: 20px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service {
    flex: 1 1 calc(50% - 20px); /* Adjust the width of the service cards */
    box-sizing: border-box;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
